@font-face {
    font-family: "Roboto";
    src: url("/paginas/RobotoCondensed.ttf");
}

/*RETIRANDO O INDESEJADO*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h2 {
    margin-top: 1em;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

main ul, header ol {
    display: flex; /* Alinha os itens horizontalmente */
    list-style-type: none;
    padding: 0.3em;
}


/*AVISO REFERENTE AO FRETE GRÁTIS*/
aside {
    text-align: center;
    background-color: #447A7D;
    padding: 5px;
    color: #ffffff;
    font-family:"sans-serif";
    font-family: "Roboto";
    font-weight: lighter;

}
mark {
    background: #CC2B3E;
    padding: 2px;
    border-radius: 1em;
    color: #ffffff;
}


div.navDeCima {
    background-color: #56BDB1;
}

div.navDeBaixo header ol li a {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
}

div.navDeBaixo ol {
    background-color: #ffffff;
    padding: 1em;
    box-shadow: 5px 3px 10px rgb(126, 126, 126);
    justify-content: flex-end;
}

header ol li a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}

/*IMAGENS*/
main img.imagem_principal {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 2em;

}

main ul {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 3em;

}