@font-face {
    font-family: "Roboto";
    src: url("/paginas/RobotoCondensed.ttf");
}

/*RETIRANDO O INDESEJADO*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto";
}

a[href="creatina.html"] {
    background-color: #447A7D;
    padding: 5px;
    border-radius: 1em;
}

.navDeBaixo .categorias {
    text-align: left;
    margin-right: auto; 
    color: #959595;
}

h2 {
    margin-top: 1em;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

main ul, header ol {
    display: flex; /* Alinha os itens horizontalmente */
    list-style-type: none;
    padding: 0.3em;
}


/*AVISO REFERENTE AO FRETE GRÁTIS*/
header p.frete { /*header, p formata o header e o p*/
    text-align: center;
    background-color: #447A7D;
    padding: 5px;
    color: #ffffff;
    font-family:"sans-serif";
    font-family: "Roboto";
    font-weight: 400;

}
mark {
    background: #CC2B3E;
    padding: 2px;
    border-radius: 1em;
    color: #ffffff;
}


div.navDeCima {
    background-color: #56BDB1;
    display: flex;
    justify-content: center;
}

div.navDeCima li {
    background-color: #56BDB1;
    display: flex;
    padding-inline: 10px;
}

div.navDeBaixo header ol li a {
    background-color: rgb(255, 255, 255);
    margin-left: 5em;
}

div.navDeBaixo ol {
    background-color: #ffffff;
    padding: 1em;
    box-shadow: 5px 3px 10px rgb(126, 126, 126);
    justify-content: flex-end;
}

div.navDeBaixo ol li {
    padding-inline: 5px;
}

header ol li a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}

.categoria {
    display: flex;
    justify-content: flex-start;
}

/*IMAGENS*/
main img.imagem_principal {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 2em;

}

main ul {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-evenly;
    margin-top: 3em;

}

footer {
    text-align: center;
    font-family: "Roboto";
}

footer ol {
    display:flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

footer ol li {
    padding-inline: 2em;
}

h3 {
    margin-top: 1em;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

footer {
    background-color: #447A7D;
    padding: 4px;
    margin-top: 2em;
}
