* {
    margin: 0%;
}

body {
    background-color: rgb(255, 252, 226);
    font-family: "Roboto";
}

aside {
    background-color: #447A7D;
    text-align: center;
}

/* NAV */
nav {
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a[href="Cadastrar.html"] {
    background-color: #447A7D;
    padding: 4.8px;
    border-radius: 2em;
}

div.navDeCima {
    background-color: #56BDB1;
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

header {
    align-items: center;
}